* {
    font-family: comfortaa;
    margin: 0;
    padding: 2%;
}

body {
    text-align: left;
    width: 96%;
    margin-top: 5vh;
}

#header {
    width: 100%;
    height: 5vh;
    background-image: linear-gradient(to right,#00152a, #002040);
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
}
h4 {
    width: 100%;
    height: 7vh;
    padding-top: 3vh;
    position: fixed;
    top: 0;
    right: 5%;
    text-align: right;
}

form{
    padding: 20px 0;
    text-align: left;
}

.clickhere1 {
    width: 25%;
    padding: 15px 0;
    background-color: #00af50;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 20px 5% 20px 20%;
    float: left;
    border-radius: 5px;
}
.clickhere2 {
    width: 25%;
    padding: 15px 0;
    background-color: #af0020;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 20px 20% 20px 5%;
    float: left;
    border-radius: 5px;
}
.clickhere3 {
    width: 20%;
    padding: 15px 0;
    background-color: #0080f0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 20px 6.66%;
    float: left;
    border-radius: 5px;
}
#b2{
    background-color: #000030;
}
#b3{
    background-color: #00a000;
}
p{
    padding: 20px;
    text-align: left;
}

#descl{
    padding: 20px;
    color: #f00;
    font-size: 80%;
}

.links{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    width: 45%;
    height: 20px;
    padding: 2%;
    float: left;
    background-color: #f8f8f8;
    margin: 1% 0 1% 1%;
}